In [23]:
import pandas as pd

In [24]:
df_train_tweets=pd.read_csv('Train.csv')
df_test_tweets=pd.read_csv('Test.csv')

In [25]:
df_train_tweets.head()

,tweet_id,safe_text,label,agreement
0,CL1KWCMY,Me &amp; The Big Homie meanboy3000 #MEANBOY #M...,0.0,1.0
1,E3303EME,I'm 100% thinking of devoting my career to pro...,1.0,1.0
2,M4IVFSMS,"#whatcausesautism VACCINES, DO NOT VACCINATE Y...",-1.0,1.0
3,1DR6ROZ4,I mean if they immunize my kid with something ...,-1.0,1.0
4,J77ENIIE,Thanks to <user> Catch me performing at La Nui...,0.0,1.0

In [26]:
df_train_tweets.safe_text[4]

'Thanks to <user> Catch me performing at La Nuit NYC 1134 1st ave. Show starts at 6! #jennifair #mmr‚Ä¶ <url>'

In [27]:
df_train_tweets.drop(['agreement','tweet_id'],inplace=True,axis=1)

In [28]:
df_train_tweets.head()

                                           safe_text  label
0  Me &amp; The Big Homie meanboy3000 #MEANBOY #M...    0.0
1  I'm 100% thinking of devoting my career to pro...    1.0
2  #whatcausesautism VACCINES, DO NOT VACCINATE Y...   -1.0
3  I mean if they immunize my kid with something ...   -1.0
4  Thanks to <user> Catch me performing at La Nui...    0.0

In [29]:
df_train_positif=df_train_tweets[df_train_tweets['label']==1.0].reset_index()
df_train_neutral=df_train_tweets[df_train_tweets['label']==0.0].reset_index()
df_train_negatif=df_train_tweets[df_train_tweets['label']==-1.0].reset_index()

In [30]:
print(df_train_positif.head())

   index                                          safe_text  label
0      1  I'm 100% thinking of devoting my career to pro...    1.0
1      5  <user> a nearly 67 year old study when mental ...    1.0
2      6  Study of more than 95,000 kids finds no link b...    1.0
3      7                   psa: VACCINATE YOUR FUCKING KIDS    1.0
4      8  Coughing extra on the shuttle and everyone thi...    1.0

In [31]:
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import twitter_samples, stopwords
from nltk.tag import pos_tag
from nltk.tokenize import word_tokenize
from nltk import FreqDist, classify, NaiveBayesClassifier

positive_token=[]
negative_token=[]
neutral_token=[]
test_token=[]

In [32]:
df_test_tweets.head()

   tweet_id                                          safe_text
0  00BHHHP1  <user> <user> ... &amp; 4 a vaccine given 2 he...
1  00UNMD0E  Students starting school without whooping coug...
2  01AXPTJF  I'm kinda over every ep of <user> being "rippe...
3  01HOEQJW  How many innocent children die for lack of vac...
4  01JUKMAO  CDC eyeing bird flu vaccine for humans, though...

In [33]:
for i in  range(len(df_train_positif)):
    positive_token.append(word_tokenize(df_train_positif.safe_text[i]))
for j in  range(len(df_train_negatif)):
    negative_token.append(word_tokenize(df_train_negatif.safe_text[j]))    
for t in  range(len(df_train_neutral)):
    neutral_token.append(word_tokenize(df_train_neutral.safe_text[t]))  
for k in  range(len(df_test_tweets)):
    test_token.append(word_tokenize(str(df_test_tweets.safe_text[k])))

In [34]:
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import twitter_samples, stopwords
from nltk.tag import pos_tag
from nltk.tokenize import word_tokenize
from nltk import FreqDist, classify, MaxentClassifier

import re, string, random

def remove_noise(tweet_tokens, stop_words = ()):

    cleaned_tokens = []

    for token, tag in pos_tag(tweet_tokens):
        token = re.sub('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+#]|[!*\(\),]|'\
                       '(?:%[0-9a-fA-F][0-9a-fA-F]))+','', token)
        token = re.sub("(@[A-Za-z0-9_]+)","", token)
        
        token=re.sub("user","",token)
        token=re.sub("url","",token)
        token=re.sub('üòë',"",token)     
        """"
        if tag.startswith("NN"):
            pos = 'n'
        elif tag.startswith('VB'):
            pos = 'v'
        else:
            pos = 'a'
        """ 
        #lemmatizer = WordNetLemmatizer()
        #token = lemmatizer.lemmatize(token, pos)

        if len(token) > 0 and token not in string.punctuation and token.lower() not in stop_words:
            cleaned_tokens.append(token.lower())
    return cleaned_tokens

def get_all_words(cleaned_tokens_list):
    for tokens in cleaned_tokens_list:
        for token in tokens:
            yield token

def get_tweets_for_model(cleaned_tokens_list):
    for tweet_tokens in cleaned_tokens_list:
        yield dict([token, True] for token in tweet_tokens)

In [35]:
stop_words = stopwords.words('english')
stop_words.append(['user','url','``','..','...'])
positive_cleaned_tokens_list = []
negative_cleaned_tokens_list = []
neutral_cleaned_tokens_list= []
test_cleaned_tokens_list=[]

In [36]:
for tokens in positive_token:
        positive_cleaned_tokens_list.append(remove_noise(tokens, stop_words))
for tokens in negative_token:
        negative_cleaned_tokens_list.append(remove_noise(tokens, stop_words))
for tokens in neutral_token:
        neutral_cleaned_tokens_list.append(remove_noise(tokens, stop_words))
for tokens in test_token:
        test_cleaned_tokens_list.append(remove_noise(tokens, stop_words))

In [37]:
#print(positive_cleaned_tokens_list)

In [40]:
from nltk.classify import SklearnClassifier
from sklearn.naive_bayes import BernoulliNB
from sklearn.svm import SVC

positive_tokens_for_model = get_tweets_for_model(positive_cleaned_tokens_list)
negative_tokens_for_model = get_tweets_for_model(negative_cleaned_tokens_list)
neutral_tokens_for_model = get_tweets_for_model(neutral_cleaned_tokens_list)

positive_dataset = [(tweet_dict, "Positive")
                         for tweet_dict in positive_tokens_for_model]

negative_dataset = [(tweet_dict, "Negative")
                         for tweet_dict in negative_tokens_for_model]

neutral_dataset = [(tweet_dict, "Neutral")
                         for tweet_dict in neutral_tokens_for_model]

dataset = positive_dataset + negative_dataset + neutral_dataset

random.shuffle(dataset)

train_data = dataset[:9000]
test_data = dataset[9000:]
#classifier = SklearnClassifier(SVC(), sparse=False,gamma='auto').train(train_data)   
classifier = MaxentClassifier.train(train_data, max_iter=50,min_accdelta=0.02)
print("Accuracy is:", classify.accuracy(classifier, test_data))

print(classifier.show_most_informative_features())

  ==> Training (50 iterations)

      Iteration    Log Likelihood    Accuracy
      ---------------------------------------
             1          -1.09861        0.403
             2          -0.66392       -0.664
             3          -0.54876       -0.549
             4          -0.47744       -0.477
             5          -0.42803       -0.428
             6          -0.39116       -0.391
             7          -0.36223       -0.362
             8          -0.33871       -0.339
         Final          -0.31905        0.921
Accuracy is: 0.7307307307307307
   4.087 .mmr==True and label is 'Neutral'
   4.087 brain-damaged-uk-victims-swine-flu-vaccine-get-60-million-compensation==True and label is 'Neutral'
   4.087 „Åò„ÇÉ„ÅÇmmr„Å£„Å¶„ÇÇ„Åó„Åã„Åó„Å¶‚Ä¶==True and label is 'Neutral'
   3.588 awhile==True and label is 'Negative'
   2.985 hazmat==True and label is 'Negative'
   2.711 hone-school==True and label is 'Positive'
   2.700 racism==True and label is 'Negative'
   2.662 thanks‚Ä¶==True and label is 'Negative'
   2.601 causesd==True and label is 'Negative'
   2.572 drive-thru==True and label is 'Negative'
None

In [41]:
len(positive_dataset+negative_dataset)

5091

In [42]:
df_submission=pd.read_csv('SampleSubmission.csv')

In [43]:
predicted=[]
i=0
for custom_tweet in test_cleaned_tokens_list:
    
    custom_tokens = remove_noise(custom_tweet)
    #print(custom_tweet, classifier.classify(dict([token, True] for token in custom_tokens)))
    if(classifier.classify(dict([token, True] for token in custom_tokens))=="Positive"):
        predicted.append(1.0)
    elif(classifier.classify(dict([token, True] for token in custom_tokens))=="Negative"):
        predicted.append(-1.0)
    else:
        predicted.append(0.0)

In [44]:
pd.set_option('mode.chained_assignment', None)

In [45]:
for i in range(len(predicted)):
    df_submission.label[i]=float(predicted[i])

In [46]:
print(df_submission.label.count())
print(df_submission.tweet_id.count())
print(df_test_tweets.tweet_id.count())
df_submission[df_submission.tweet_id=='01AXPTJF']

5177
5177
5177

   tweet_id  label
2  01AXPTJF      0

In [47]:
df_submission.set_index('tweet_id',inplace=True)

In [48]:
df_submission.to_csv('submission2.csv')

In [49]:
df_submission

          label
tweet_id
00BHHHP1     -1
00UNMD0E      1
01AXPTJF      0
01HOEQJW      1
01JUKMAO      0
01V1X8XW      0
01VCVYR0      0
01VO7KBO      1
020SYHIL      0
02CQIJUI      0
02OLGGYV      0
02VDQ7JT      1
03VDEOFZ      1
03W32GF1      0
0415LSAN      1
047IZEE1      1
04BA7VQ9      1
04Q6QMSI      1
04UJ9Q31      1
04W0XJEJ      0
05277SI4      0
05OKQQBU      0
05PUPGUS      0
0749FDXA      0
078BED1W      1
07B3FVUX      1
07SO3YBG      1
07VBSV9R      1
07VRJ7KY      0
07ZUS2DD      1
...         ...
ZR2QR3EU      1
ZR49YWLW      1
ZRBPL0VA      0
ZRE2G3AZ      1
ZRYA3DG3      0
ZSCMJ86A      1
ZSGWQQK6      1
ZTGSR1Z9      0
ZTHTRXGK      0
ZTOROJMZ      1
ZU42GNZV      0
ZUOGYCSR      1
ZUUPJ0XK      1
ZVAGEMVN      1
ZVGK4NHI      0
ZVY4MGTY      0
ZW3B0QSF      1
ZWGKHI9X      0
ZWGWHZ2P      1
ZWMF7T28      0
ZWZ5UHH5      1
ZX1VY73N      1
ZXCHOUKL      1
ZXM0YHW2      0
ZXNEA9IR      0
ZXVVNC5O      1
ZYIANVI8      0
ZYITEHAH      0
ZZ3BMBTG      1
ZZIYCVNH     -1

[5177 rows x 1 columns]